@import '@/styles/GlobalStyles.scss';

.headingLv1 {
    padding-left: 1rem;
    line-height: 1.4;
    color: $clr-navigation;
    border-left: 4px solid $clr-primary;
    margin-bottom: 1.6rem;

}
.title {
    font-size: 2rem;
    padding: .5rem .4rem;
}