@import '@/styles/GlobalStyles.scss';
@import '@/styles/_mixins.scss';

.navbar {
    border-top: 1px solid transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.navbar-top {
    background-color: $clr-white;
}

// navbar - top - inner
.navbarTop-inner,
.navbarBotton-inner {
    min-width: 32rem;
    max-width: 120rem;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

.navbarBotton-inner {
    min-height: 45px;
}

.img-responsive {
    width: 48px;
}

.img-menu-mobile {
    width: 20px;
}

.nav-open-mobile {
    position: absolute;
    left: 0px;
    padding: 13px 8px;
    visibility: hidden;
}

.search-content {
    margin-left: 16px;
    width: 300px;
}

.nav-search {
    width: 100%;
    min-height: 35px;
    border: 1.2px solid $clr-light-gray;

    input {
        flex: 1;
        height: 100%;
        background-color: transparent;
        caret-color: red;
        appearance: textfield;
        outline: none;
        font-size: 1.4rem;
        font-family: $fnt-base;
        padding-left: 6px;
    }

    &:focus-within {
        border-color: $clr-primary;
    }

    .search-btn {
        min-height: 33px;
        padding: 0 6px;
    }

    .search-img {
        width: 15px;
    }
}

// ----

// navbar - botton
.navbar-bottom {
    .nav-links {
        li {
            margin: 0 10px;
        }

        .nav-link {
            font-size: 14.5px;
            transition: $transition;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .navbar-show-btn {
        transition: $transition;
        display: none;

        &:hover {
            color: $clr-white;
        }
    }

    .navbar-hide-btn {
        display: none;
    }
}

.navCart>a {
    position: relative;
    display: block;

    .img-cart {
        width: 30px;
    }

    >span {
        position: absolute;
        top: -6px;
        right: -10px;
        display: inline-flex;

        justify-content: center;
        align-items: center;
        background-color: $clr-primary;
        min-width: 14px;
        height: 14px;
        border-radius: 7px;
        font-size: 11px;
        color: $clr-white;
        opacity: 0.8;
        font-weight: 500;
    }
}

// ----

// responsive

@media screen and (max-width: 1200px) {
    .nav-links {
        .nav-link {
            font-size: 13px !important;
        }
    }
}

// mobile

@include mediumDeviceSize {

    .nav-links {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    

    .nav-link li {
        margin-bottom: 10px !important;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);

        .nav-link {
            color: $clr-regal-blue;
            font-size: 14px !important;
        }
    }

    .RootOverlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $clr-rgba;
      
      }
    .nav-links-inner {
        position: relative;
        right: 100%;
        width: 90%;
        max-width: 338px;
        height: 100%;
        backface-visibility: hidden;
        background-color: $clr-white;
        animation-name: slideRightClose;
        animation-duration: 400ms;
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .nav-links-inner.nav-links-open {
        right: 0;
        display: block;
        animation-name: slideRight;
        animation-duration: 400ms;
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .nav-links-inner.nav-links-close {
        display: none;
    }

    .nav-links-inners {
        position: relative;
        right: 0;
        max-width: 338px;
        height: 100%;
        background-color: $clr-white;
        animation-name: slideRight;
        animation-duration: 400ms;
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }


    .nav-menu-header {
        display: table;
        border-bottom: 1px solid $clr-light-gray;
        width: 100%;
        height: 45px;
    }

    .nav-close-mobile {
        width: 44px;
        text-align: center;
    }

    .nav-menu-header>* {
        display: table-cell;
        padding: 0;
        vertical-align: middle;
    }

    .iconElem {
        display: inline-block;
        width: 19px;
        height: 19px;
        vertical-align: middle;
    }

    .nav-close-mobile {}
}

@include smallDeviceSize {
    .nav-open-mobile {
        visibility: visible;
    }

    .flex {
        &-center {
            justify-content: center;
        }
    }

    .search-content {
        visibility: hidden;
        width: 0;
        transform: $transition;
    }

    .navbarTop-right {
        visibility: hidden;
        width: 0;
    }
}

@keyframes slideRight {
    from {
        display: none;
        right: 100%;
    }

    to {
        display: block;
        ;
        right: 0;
    }
}

@keyframes slideRightClose {
    0% {
        display: block;
        right: 0;
    }

    100% {
        display: none;
        right: 100%;
    }
}